<section id="devise">
  <div class='row'>
    <div class="container">
      <%= devise_error_messages! %>
      <div class='col-12 form-frame'>
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
        <%= form_for(resource, :as => resource_name, :class => 'form-vertical', :url => registration_path(resource_name), :multipart => true, :html => {:method => :put}) do |f| %>
            <%  if @user.avatar.url.present? %>
            <div>
              <%= image_tag(@user.avatar_url.to_s, :class => 'img-rounded img-responsive') if @user.avatar?  %>
              <label>
                <%= f.check_box :remove_avatar %>
                Remove avatar
              </label>
            <% end %>
            <%= f.file_field :avatar, :class => 'fileinput', :placeholder => 'your avatar' %>
            <%= f.hidden_field :avatar_cache %></div>
            <div><%= f.label :email %>
              <br/>
              <%= f.email_field :email, class: 'form-control', :autofocus => true %></div>
            <div><%= f.label :first_name %>
              <br/>
              <%= f.text_field :first_name, class: 'form-control' %></div>
            <div><%= f.label :last_name %>
              <br/>
              <%= f.text_field :last_name, class: 'form-control' %></div>
            <div><%= f.label :organization %>
              <br/>
              <%= f.text_field :organization, class: 'form-control' %></div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i> <br/>
              <%= f.password_field :password, class: 'form-control', :autocomplete => "off" %></div>
            <div><%= f.label :password_confirmation %> <br/>
              <%= f.password_field :password_confirmation, class: 'form-control' %></div>
            <div><%= f.label :current_password %>
              <i>(we need your current password to confirm your changes)</i> <br/>
              <%= f.password_field :current_password, class: 'form-control' %></div>
            <br/>

            <div><%= f.submit "Update", class: 'btn btn-primary btn-large btn-block' %></div>
        <% end %>
        <hr>
        <h3>Cancel my account</h3>

        <p>Unhappy? We would hate to miss you as a friend...
          :-( <%= button_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'btn btn-primary btn-large btn-block' %></p>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</section>