<h3> Bookings for <%= @subject.name %></h3>
<table class="bookings_table">
  <tr>
    <th>Start</th>
    <th>End</th>
  </tr>
  
  <% @bookings.each do |booking| %>
  <tr>
    <td>
      <%= booking.start_time.strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td>
      <%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %>
    </td>
    <td><%= link_to "Delete", subject_booking_path(@subject, booking), data: { confirm: 'Are you sure?' }, method: :delete %>
    </td>
    <td><%= link_to "Edit", edit_subject_booking_path(@subject, booking) %>
    </td>
  </tr>
  <% end %>
</table>