<h1>The Team</h1>







<div class="container">
  <div class="row">
    <% @users.each do |user| %>
        <div class="col-sm-2 col-md-2 form-frame">
          <img src="<%= user.avatar %>"
               alt="" class="img-rounded img-responsive"/>
        </div>
        <div class="col-sm-4 col-md-4">

          <h4><%= user.first_name %>
            <%= user.last_name %></h4>
          <small>
            <cite title="Source Title">Gotham, United Kingdom <i class="glyphicon glyphicon-map-marker"></i></cite>
          </small>

          <div>
            <br/>
            <i class="glyphicon glyphicon-globe"></i> <%= user.organization %>
            <br/> <i class="glyphicon glyphicon-envelope"></i> <%= user.email %>
            <br/> <i class="glyphicon glyphicon-gift"></i> <%= link_to 'Show', "users/#{user.id}" %>
          </div>
        </div>
    <% end %>
  </div>
</div>