<h3><%= @document.title %></h3>
<small>Created: <%= @document.created_at -%> Project: <%= @project.title %> </small>
<div><%= @document.body %></div>
<div><%= link_to 'Edit', edit_project_document_path(@project, @document), :type => "button", :class => 'btn btn-primary' %></div>