<section id="projects">
<h1>Listing projects</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width:100px">Title</th>
      <th>Body</th>
      <th style="width:100px">Created</th>
      <th style="width:10px">Public</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.body %></td>
        <td><%= project.created %></td>
        <td><%= project.public %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path %>
 <% end %>
</section>