<section id="subjects">

  <table class="table table-striped">
    <thead>
    <legend>Pairing subjects</legend>
    <tr>
      <th style="width:200px">Title</th>
      <th>Description</th>
      <th style="width:250px">Group url</th>
      <th style="width:15px"></th>
      <th style="width:15px"></th>
      <th style="width:15px"></th>
      <th style="width:15px"></th>
    </tr>
    </thead>

    <tbody>
    <% @subjects.each do |subject| %>
        <tr>
          <td><strong><%= subject.name %></strong></td>
          <td><%= subject.description %></td>
          <td><%= subject.group_url %></td>
          <td><%= link_to 'Add session', new_subject_booking_path(subject), :type=>"button", :class=>"btn btn-default btn-xs" %></td>
          <td><%= link_to 'Show sessions', subject_bookings_path(subject), :type=>"button", :class=>"btn btn-default btn-xs" %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject), :type=>"button", :class=>"btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Delete', subject_path(subject), :type=>"button", :class=>"btn btn-danger btn-xs", data: { confirm: 'Are you sure?' }, method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <% if user_signed_in? %>
      <%= link_to "New Subject", new_subject_path, :type => 'button', :class => "btn btn-primary" %>
  <% end %>
</section>


