<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Website" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Website" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


<!-- Part 1: Wrap all page content here -->
<div id="wrap">
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <main role="main">
      <!-- Begin page content -->
      <div class="container">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
  </main>
  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="muted credit">Footer <a href="http://nocebo.se">Thomas Ochman</a>.</p>
  </div>
</div>



</body>
</html>

